html, body, h1, p {
  margin: 0;
  padding: 0;
}

main {
  background-color: #F5EFE6;
}

.intro-page {
  background-color: #F5EFE6;
  position: absolute;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text {
  margin-bottom: 30px;
  opacity: 1;
}

.title {
  font-size: 50px;
}

.message {
  font-size: 25px;
}

.start-btn {
  background-color: #5481af;
  border: none;
  color: white;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.start-btn:focus {
  outline: none;
}

.start-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
